.wrapper {
  margin-top: 0.5rem;
  border: 1px solid var(--color-primary-500);
  border-radius: 0.6rem;
  animation: fade-in 0.3s;
}

.notification {
  text-align: center;
  padding: 4rem;
  color: var(--color-primary-700);
  font-size: 1.2rem;
}

.list {
  max-height: 30rem;
  overflow-y: scroll;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.listItem:hover,
.active {
  background-color: var(--color-primary-300);
}

.listItem:not(:last-child) {
  border-bottom: 1px solid var(--color-primary-500);
}

.image {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.4rem;
}

.listItemDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--color-primary-700);
}

.listItemName {
  font-size: 1.3rem;
  font-weight: 500;
}

.bold {
  font-weight: 900;
  color: var(--color-primary-800);
}

.listItemEpisodes {
  font-size: 0.9rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
