.wrapper {
  width: 30rem;
  height: fit-content;
}

.inputArea {
  border: 1px solid var(--color-primary-500);
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  color: var(--color-primary-700);
  display: flex;
  gap: 1rem;
}

.selectedList {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.4rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.selectedItem {
  background-color: var(--color-primary-300);
  border-radius: 0.3rem;
  padding: 0.4rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  animation: expand 0.3s;
}

.selectedItemBtn {
  display: block;
  border: none;
  color: white;
  font-weight: bold;
  background-color: var(--color-primary-500);
  display: flex;
  align-items: center;
  border-radius: 0.1rem;
  padding: 0.1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.selectedItemBtn:hover {
  background-color: var(--color-primary-700);
}

.input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.5rem 0;
  align-self: stretch;
}

.expandBtn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  transform: rotate(0);
  transition: transform 0.2s;
  cursor: pointer;
}

.rotated {
  transform: rotate(180deg);
}

@keyframes expand {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}
